/*COLORS*/
$neutral-color: #fff;
$light-text: #aaa;
$negative-color: #000;
$dark-text: #2d2d2d;
$primary-color: #0000cc;
$header-bg: #4f4f4f;
$error-color: #b52c2c;

/*FONTS*/
$h1-size: 3.2rem;
$h2-size: 2.4rem;
$h3-size: 1.9rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.3rem;