main {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5rem 0;
    @include mq(small) {
        flex-direction: column;
    }
}

form h2 {
    padding: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

input {
    background-color: #ccc;
    margin: 0 0 1rem 3rem;
    border-radius: 4px;
    height: 2.5rem;
    width: 22.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

select:focus, input:focus {
    border: 1px solid $dark-text;
}

label, select, button {
    margin: 0 0 0 3rem;
}

label {
    margin-bottom: 0.5rem;
}

select {
    height: 2.5rem;
    width: 22.5rem;
    background-color: #ccc;
    appearance: none;
    padding: 0 0.5rem 0 0.5rem;
    background: url('../images/down-chevron.svg') 96% / 15% no-repeat #ccc;
    background-size: 8%;
    border: none;
}

button {
    margin-top: 2rem;
    width: 22.5rem;
    padding: 1rem 0 1rem 0;
    border-radius: 4px;
    color: $neutral-color;
    background-color: $primary-color;
}

label:nth-of-type(1)::after, label:nth-of-type(2)::after, label:nth-of-type(3)::after {
    content: "Required";
    margin: 0 0 0 1rem;
    color: $light-text;
    font-size: 0.1rem;
    
    @include mq(medium) {
        font-size: 0.1rem;
    }
    @include mq(small) {
        font-size: 0.1rem;
    }
}

aside {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    
    @include mq(small) {
        max-width: 60%;
        margin: 3rem 0 0 3rem;
    }
    
    & h2 {
        padding: 1.5rem 0 1.5rem 0;
    }
}

section {
    padding: 1rem;
    background-color: $primary-color;
    color: $neutral-color;
    margin: 0 0 2rem 0;
}

section p {
    margin: 0.5rem 0 0.5rem 0;
    
    &:nth-of-type(2)::before {
        content: "";
        background: url("../images/phone.svg") no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: contain;
        vertical-align: middle;
        background-position: 20%;
    }
    
    &:nth-of-type(3)::before {
        content: "";
        background: url("../images/email.svg") no-repeat;
        display: inline-block;
        width: 13px;
        height: 11px;
        background-size: contain;
        vertical-align: text-bottom;
        margin-right: 0.3rem;
    }
}

.error {
    color: $error-color;
    font-weight: bold;
    font-size: $h6-size;
    margin: 0 0 1rem 3rem;
}

#success {
    width: 50%;
    height: 50rem;
    background-color: #f5f5f5;
    color: $dark-text;
    margin: 5.4rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mq(medium) {
        width: 40%;
        height: 35rem;
    }
    @include mq(small) {
        width: 30%;
        height: 20rem;
        margin: 5.4rem 0 0 3rem;
    }
    
    
    & h2 {
        padding: 1.5rem;
        position: absolute;
        top: 7rem;
        left: 0;
        
        @include mq(small) {
            margin: 0 0 0 1.5rem;
        }
    }
}

#success img {
    height: 25%;
    width: 25%;
    margin: 12rem 0 0 0;
    
    @include mq(medium) {
        margin: 8rem 0 0 0;
    }
    @include mq(small) {
        margin: 3rem 0 0 0;
    }
}

#success p {
    text-align: center;
    font-size: $h2-size;
    font-weight: bold;
    margin: 4rem 0 16rem 0;
    
    @include mq(medium) {
        font-size: $h3-size;
        margin: 2rem 0 12rem 0;
    }
    @include mq(small) {
        font-size: $h4-size;
        margin: 1rem 0 10rem 0;
    }
}