header {
    background-color: $header-bg;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Frutiger', 'Univers', sans-serif;
    text-transform: uppercase;
    padding: 1.5rem;
    color: $neutral-color;
}