//----------Base Styles----------//

html {
    font-size: 62.5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: $dark-text;
}

h1 {
    @include heading ($h1-size);
    
    @include mq(medium) {
        font-size: $h2-size;
    }
    
    @include mq(small) {
        font-size: $h3-size;
    }
}

h2 {
    @include heading ($h2-size);
    
    @include mq(medium) {
        font-size: $h3-size;
    }
    @include mq(small) {
        font-size: $h4-size;
    }
}

h3 {
    @include heading ($h3-size);
    
    @include mq(medium) {
        font-size: $h4-size;
    }
    @include mq(small) {
        font-size: $h5-size;
    }
}

h4 {
    @include heading ($h4-size);
    
    @include mq(medium) {
        font-size: $h5-size;
    }
    @include mq(small) {
        font-size: $h6-size;
    }
}

h5 {
    @include heading ($h5-size);
}

h6 {
    @include heading ($h6-size);
}

.wrapper {
    max-width: 120rem;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

p, input, select, button {
    font-size: $h4-size;
    
    @include mq(medium) {
        font-size: $h5-size;
    }
    @include mq(small) {
        font-size: $h6-size;
    }
}

label {
    font-size: $h3-size;
    
    @include mq(medium) {
        font-size: $h4-size;
    }
    @include mq(small) {
        font-size: $h5-size;
    }
}